<a href="https://colab.research.google.com/github/bijuthottathil/dataengineer/blob/main/deltatable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
!pip -q install findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages io.delta:delta-core_2.12:0.7.0 --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension --conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog pyspark-shell'
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('delta_session').getOrCreate()
from delta.tables import *

In [ ]:

empdf=spark.read.csv("/content/sample_data/emp.csv", header=True)

In [ ]:

empdf.write.format("delta").partitionBy("HIREDATE").mode("overwrite").saveAsTable("emp_part")

In [ ]:
spark.sql("select * from emp_part")

DataFrame[EMPNO: string, ENAME: string, JOB: string, MGR: string, HIREDATE: string, SAL: string, COMM: string, DEPTNO: string, UPDATED_DATE: string]

In [ ]:
deltainstance= DeltaTable.forPath(spark,"/content/spark-warehouse/emp_part")

In [ ]:
deltainstance.toDF().show()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-03|
| 7566| JONES| MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-01|
| 7782|  RAVI| MANAGER|7839|06-09-1981|2450|null|    10|  2022-01-02|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-01|
| 7698|   SGR| MANAGER|7839|05-01-1981|2850|null|    30|  2022-01-04|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|null|    20|  2022-01-01|
+-----+------+--------+----+----------+----+----+------+------------+

In [ ]:
deltainstance.delete("EMPNO=7369")

In [ ]:
deltainstance.toDF().show()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-03|
| 7566| JONES| MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-01|
| 7782|  RAVI| MANAGER|7839|06-09-1981|2450|null|    10|  2022-01-02|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-01|
| 7698|   SGR| MANAGER|7839|05-01-1981|2850|null|    30|  2022-01-04|
+-----+------+--------+----+----------+----+----+------+------------+

In [ ]:
df=spark.sql("select * from emp_part")
df.show()
df.printSchema()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-03|
| 7566| JONES| MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-01|
| 7782|  RAVI| MANAGER|7839|06-09-1981|2450|null|    10|  2022-01-02|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-01|
| 7698|   SGR| MANAGER|7839|05-01-1981|2850|null|    30|  2022-01-04|
+-----+------+--------+----+----------+----+----+------+------------+

root
 |-- EMPNO: string (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: string (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: string (nullable = true)
 |-- COMM: string (nullable = true)
 |-- DEPTNO: string (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)

# New Section

In [ ]:
df=spark.sql("insert into emp_part values ('333','rock','SALESMAN','7839','2-09-1981','3450','8888','66','2023-01-01')")
df.show()

++
||
++
++

In [ ]:
df=spark.sql("select * from emp_part")
df.show()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-03|
| 7566| JONES| MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-01|
| 7782|  RAVI| MANAGER|7839|06-09-1981|2450|null|    10|  2022-01-02|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-01|
|  333|  rock|SALESMAN|7839| 2-09-1981|3450|8888|    66|  2023-01-01|
|  333|  rock|SALESMAN|7839| 2-09-1981|3450|8888|    66|  2023-01-01|
|  333|  rock|SALESMAN|7839| 2-09-1981|3450|8888|    66|  2023-01-01|
| 7698|   SGR| MANAGER|7839|05-01-1981|2850|null|    30|  2022-01-04|
+-----+------+--------+----+----------+----+----+------+------------+

In [ ]:
df.write.format("delta").mode("append").saveAsTable("employeeappended")

In [ ]:
dfnew=spark.sql("select * from employeeappended")
dfnew.show()

+-----+------+--------+----+----------+----+----+------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+------+--------+----+----------+----+----+------+------------+
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-03|
| 7566| JONES| MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-01|
| 7782|  RAVI| MANAGER|7839|06-09-1981|2450|null|    10|  2022-01-02|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-01|
|  333|  rock|SALESMAN|7839| 2-09-1981|3450|8888|    66|  2023-01-01|
|  333|  rock|SALESMAN|7839| 2-09-1981|3450|8888|    66|  2023-01-01|
|  333|  rock|SALESMAN|7839| 2-09-1981|3450|8888|    66|  2023-01-01|
| 7698|   SGR| MANAGER|7839|05-01-1981|2850|null|    30|  2022-01-04|
+-----+------+--------+----+----------+----+----+------+------------+

In [ ]:
rt_cl= spark.read.format("delta").load("/content/spark-warehouse/emp_part/HIREDATE=04-02-1981/")
rt_cl.show()

+-----+-----+-------+----+----------+----+----+------+------------+
|EMPNO|ENAME|    JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|
+-----+-----+-------+----+----------+----+----+------+------------+
| 7566|JONES|MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|
+-----+-----+-------+----+----------+----+----+------+------------+