<a href="https://colab.research.google.com/github/bijuthottathil/dataengineer/blob/main/join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
!pip -q install findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages io.delta:delta-core_2.12:0.7.0 --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension --conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog pyspark-shell'
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName('delta_session').getOrCreate()
from delta.tables import *

In [5]:
deptdf=spark.read.csv("/content/Dept.csv", header=True)
empdf=spark.read.csv("/content/EMP.csv", header=True)
deptdf.show()
empdf.show()

+------+----------+--------+
|Deptno|     Dname|     Loc|
+------+----------+--------+
|    10|ACCOUNTING|NEW YORK|
|    20|  RESEARCH|  DALLAS|
|    30|     SALES| CHICAGO|
|    40|OPERATIONS|  BOSTON|
+------+----------+--------+

+-----+------+---------+----+--------+----+----+------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|
+-----+------+---------+----+--------+----+----+------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|
| 7566| JONES|  MANAGER|7839|02-04-81|2975|null|    20|
| 7654|MARTIN| SALESMAN|7698|28-09-81|1250|1400|    30|
| 7698|   SGR|  MANAGER|7839|01-05-81|2850|null|    30|
| 7782|  RAVI|  MANAGER|7839|09-06-81|2450|null|    10|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|
| 7839|  KING|PRESIDENT|null|17-11-81|5000|null|    10|
| 7844|TURNER| SALESMAN|7698|08-09-81|1500|   0|    30|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|
| 7900| JAMES|    CLERK|7698|03-12-81| 950|null|    30|
| 7902|  FORD|  ANALYST|7566|03-12-81|3000|null|    20|
| 7934|MILLER|    CLERK|7782|23-01-82|1300|null|    10|
| 1234|SEKHAR|   doctor|7777|    null| 667|  78|    80|
+-----+------+---------+----+--------+----+----+------+

In [12]:
#inner Join -perform a join by implicitly matching the columns between the two datasets with the same name
empdf.join(deptdf,empdf['Deptno']==deptdf['Deptno'],'inner').show()

+-----+------+---------+----+--------+----+----+------+------+----------+--------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|Deptno|     Dname|     Loc|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|    20|  RESEARCH|  DALLAS|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|    30|     SALES| CHICAGO|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|    30|     SALES| CHICAGO|
| 7566| JONES|  MANAGER|7839|02-04-81|2975|null|    20|    20|  RESEARCH|  DALLAS|
| 7654|MARTIN| SALESMAN|7698|28-09-81|1250|1400|    30|    30|     SALES| CHICAGO|
| 7698|   SGR|  MANAGER|7839|01-05-81|2850|null|    30|    30|     SALES| CHICAGO|
| 7782|  RAVI|  MANAGER|7839|09-06-81|2450|null|    10|    10|ACCOUNTING|NEW YORK|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7839|  KING|PRESIDENT|null|17-11-81|5000|null|    10|    10|ACCOUNTING|NEW YORK|
| 7844|TURNER| SALESMAN|7698|08-09-81|1500|   0|    30|    30|     SALES| CHICAGO|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|    20|  RESEARCH|  DALLAS|
| 7900| JAMES|    CLERK|7698|03-12-81| 950|null|    30|    30|     SALES| CHICAGO|
| 7902|  FORD|  ANALYST|7566|03-12-81|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7934|MILLER|    CLERK|7782|23-01-82|1300|null|    10|    10|ACCOUNTING|NEW YORK|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+

In [ ]:
#Left Outer Joins  -Left outer joins evaluate the keys in both of the DataFrames or tables and includes all rows from the left DataFrame as well as any rows in the right DataFrame that have a match in the left DataFrame.

In [13]:
empdf.join(deptdf,empdf['Deptno']==deptdf['Deptno'],'left_outer').show()

+-----+------+---------+----+--------+----+----+------+------+----------+--------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|Deptno|     Dname|     Loc|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|    20|  RESEARCH|  DALLAS|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|    30|     SALES| CHICAGO|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|    30|     SALES| CHICAGO|
| 7566| JONES|  MANAGER|7839|02-04-81|2975|null|    20|    20|  RESEARCH|  DALLAS|
| 7654|MARTIN| SALESMAN|7698|28-09-81|1250|1400|    30|    30|     SALES| CHICAGO|
| 7698|   SGR|  MANAGER|7839|01-05-81|2850|null|    30|    30|     SALES| CHICAGO|
| 7782|  RAVI|  MANAGER|7839|09-06-81|2450|null|    10|    10|ACCOUNTING|NEW YORK|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7839|  KING|PRESIDENT|null|17-11-81|5000|null|    10|    10|ACCOUNTING|NEW YORK|
| 7844|TURNER| SALESMAN|7698|08-09-81|1500|   0|    30|    30|     SALES| CHICAGO|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|    20|  RESEARCH|  DALLAS|
| 7900| JAMES|    CLERK|7698|03-12-81| 950|null|    30|    30|     SALES| CHICAGO|
| 7902|  FORD|  ANALYST|7566|03-12-81|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7934|MILLER|    CLERK|7782|23-01-82|1300|null|    10|    10|ACCOUNTING|NEW YORK|
| 1234|SEKHAR|   doctor|7777|    null| 667|  78|    80|  null|      null|    null|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+

In [15]:
# Right outer join -Right outer joins evaluate the keys in both of the DataFrames or tables and includes all rows from the right DataFrame as well as any rows in the left DataFrame that have a match in the right DataFrame.
empdf.join(deptdf,empdf['Deptno']==deptdf['Deptno'],'Right').show()

+-----+------+---------+----+--------+----+----+------+------+----------+--------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|Deptno|     Dname|     Loc|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+
| 7934|MILLER|    CLERK|7782|23-01-82|1300|null|    10|    10|ACCOUNTING|NEW YORK|
| 7839|  KING|PRESIDENT|null|17-11-81|5000|null|    10|    10|ACCOUNTING|NEW YORK|
| 7782|  RAVI|  MANAGER|7839|09-06-81|2450|null|    10|    10|ACCOUNTING|NEW YORK|
| 7902|  FORD|  ANALYST|7566|03-12-81|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|    20|  RESEARCH|  DALLAS|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7566| JONES|  MANAGER|7839|02-04-81|2975|null|    20|    20|  RESEARCH|  DALLAS|
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|    20|  RESEARCH|  DALLAS|
| 7900| JAMES|    CLERK|7698|03-12-81| 950|null|    30|    30|     SALES| CHICAGO|
| 7844|TURNER| SALESMAN|7698|08-09-81|1500|   0|    30|    30|     SALES| CHICAGO|
| 7698|   SGR|  MANAGER|7839|01-05-81|2850|null|    30|    30|     SALES| CHICAGO|
| 7654|MARTIN| SALESMAN|7698|28-09-81|1250|1400|    30|    30|     SALES| CHICAGO|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|    30|     SALES| CHICAGO|
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|    30|     SALES| CHICAGO|
| null|  null|     null|null|    null|null|null|  null|    40|OPERATIONS|  BOSTON|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+

In [16]:
# Outer join - Outer joins evaluate the keys in both of the DataFrames or tables and includes (and joins together) the rows that evaluate to true or false. If there is no equivalent row in either the left or right DataFrame, Spark will insert null:
empdf.join(deptdf,empdf['Deptno']==deptdf['Deptno'],'full_outer').show()

+-----+------+---------+----+--------+----+----+------+------+----------+--------+
|EMPNO| ENAME|      JOB| MGR|HIREDATE| SAL|COMM|DEPTNO|Deptno|     Dname|     Loc|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+
| 7499| ALLEN| SALESMAN|7698|20-02-81|1600| 300|    30|    30|     SALES| CHICAGO|
| 7521|  WARD| SALESMAN|7698|22-02-81|1250| 500|    30|    30|     SALES| CHICAGO|
| 7654|MARTIN| SALESMAN|7698|28-09-81|1250|1400|    30|    30|     SALES| CHICAGO|
| 7698|   SGR|  MANAGER|7839|01-05-81|2850|null|    30|    30|     SALES| CHICAGO|
| 7844|TURNER| SALESMAN|7698|08-09-81|1500|   0|    30|    30|     SALES| CHICAGO|
| 7900| JAMES|    CLERK|7698|03-12-81| 950|null|    30|    30|     SALES| CHICAGO|
| null|  null|     null|null|    null|null|null|  null|    40|OPERATIONS|  BOSTON|
| 7369| SMITH|    CLERK|7902|17-12-80| 800|null|    20|    20|  RESEARCH|  DALLAS|
| 7566| JONES|  MANAGER|7839|02-04-81|2975|null|    20|    20|  RESEARCH|  DALLAS|
| 7788| SCOTT|  ANALYST|7566|19-04-87|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7876| ADAMS|    CLERK|7788|23-05-87|1100|null|    20|    20|  RESEARCH|  DALLAS|
| 7902|  FORD|  ANALYST|7566|03-12-81|3000|null|    20|    20|  RESEARCH|  DALLAS|
| 7782|  RAVI|  MANAGER|7839|09-06-81|2450|null|    10|    10|ACCOUNTING|NEW YORK|
| 7839|  KING|PRESIDENT|null|17-11-81|5000|null|    10|    10|ACCOUNTING|NEW YORK|
| 7934|MILLER|    CLERK|7782|23-01-82|1300|null|    10|    10|ACCOUNTING|NEW YORK|
| 1234|SEKHAR|   doctor|7777|    null| 667|  78|    80|  null|      null|    null|
+-----+------+---------+----+--------+----+----+------+------+----------+--------+